{% extends "base.html" %} {% block content %}
<section class="px-4 py-5 text-center small-hero bg-image">
  <div class="row">
    <h1 class="display-5 fw-bold mb-3">
      Latest <span class="focus-text">ramblings!</span>
    </h1>
  </div>
</section>
<section class="blog-posts">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="sub-title">Blog Posts</h2>
        <ul class="blog-list mt-3">
          {% for post in posts %}
          <li class="mb-3">
            <div class="row">
              <div class="col-6">
                <h3 class="pt-3">{{ post.title }}</h3>
                <p class="mt-1 mb-3">
                  {{ post.content|truncate(50,true,'...') }}
                </p>
              </div>
              <div class="col-6">
                <a
                  href="{{ url_for('blog_post', slug=post.slug) }}"
                  class="btn btn-primary mb-3"
                  >Read More</a
                >
              </div>
            </div>
            <hr />
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-12 page-buttons">
        <!-- Check if there is a previous page to show -->
        {% if prev_url %}
        <a class="btn btn-primary" href="{{ prev_url }}">Newer posts</a>
        {% endif %}
        <!-- Check if there is a next page to show -->
        {% if next_url %}
        <a class="btn btn-primary" href="{{ next_url }}">Older posts</a>
        {% endif %}
      </div>
    </div>
  </div>
</section>
{% endblock %}
