{% extends "base.html" %} {% block content %}
<section class="px-4 py-5 text-center small-hero bg-image">
  <div class="row">
    <h1 class="display-5 fw-bold mb-3">
      Contact <span class="focus-text">Me!</span>
    </h1>
  </div>
  <div class="row">
    <div class="col-12 text-center">
      <p class="mb-3">I'd love to hear from you!</p>
    </div>
  </div>
</section>
<div class="container">
  <section>
    <form method="POST" action="{{ url_for('contact') }}">
      <fieldset>
        <legend class="sub-title">Contact Form</legend>
        <label for="name" class="form-label">Your name:</label>
        <input
          type="text"
          name="name"
          id="name"
          class="form-control"
          placeholder="Enter your name"
          minlength="5"
          maxlength="50"
          required
        />
        <label for="email" class="form-label mt-3">Your email:</label>
        <input
          type="email"
          name="email"
          id="email"
          class="form-control"
          placeholder="Your email"
          {%
          if
          user_email
          %}
          value="{{ user_email }}"
          {%
          endif
          %}
          minlength="5"
          maxlength="50"
          required
        />
        <label for="title" class="form-label mt-3">Subject:</label>
        <input
          type="text"
          name="title"
          id="title"
          class="form-control"
          placeholder="Message Title"
          minlength="5"
          maxlength="50"
          required
        />
        <label for="message" class="form-label mt-3">Your message:</label>
        <textarea
          id="message"
          name="message"
          class="form-control mb-3"
          placeholder="Enter your message here!"
          minlength="10"
          maxlength="280"
          required
        ></textarea>
        <button type="submit" class="btn btn-primary mt-3">
          Send Your Message
        </button>
      </fieldset>
    </form>
  </section>
</div>

{% endblock %}
