{% extends "base.html" %} {% block content %}
<!-- Hero Section -->
<section class="px-4 py-5 text-center small-hero bg-image">
  <div class="row">
    <h1 class="display-5 fw-bold mb-3">
      Messages <span class="focus-text">for you!</span>
    </h1>
  </div>
</section>
<!-- Messages Display -->
<section class="container">
  <div class="row">
    <div class="col-12">
      <h2 class="sub-title">Messages</h2>
      <ul class="message-list mt-3">
        <!-- Check if there are any messages -->
        {% if messages|length > 0 %}
          <!-- Loop through the messages to format and display them -->
          {% for message in messages %}
            <li class="mb-3">
              <div class="row">
                <div class="col-6">
                  <h3>{{ message.title }}</h3>
                  <p><span class="focus-text">Sent by:</span> {{ message.name }}</p>
                  <p>{{ message.email }}</p>
                </div>
                <div class="col-6 position-relative">
                  <p class="mt-1 mb-3">{{ message.content }}</p>
                  <button class="btn btn-danger delete-button">
                    Delete Message
                  </button>
                  <div class="delete-confirm hide">
                    <p>Are you sure you want to delete this Comment?</p>
                    <div class="row">
                      <div class="col-6">
                        <a
                          class="btn btn-danger"
                          href="{{ url_for('delete_message', id=message.id) }}"
                        >
                          Yes, delete it!
                        </a>
                      </div>
                      <div class="col-6">
                        <button class="btn btn-primary cancel-delete">
                          No, keep it!
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <hr />
            </li>
          {% endfor %}
        <!-- If no messages -->
        {% else %}
          <p>No messages...</p>
        {% endif %}
      </ul>
    </div>
  </div>
</section>
{% endblock %}
